extends layout

block content
  h1= title

  if author_list.length
    ul
      each author in author_list
        li
          a(href=`/catalog/authors/${author._id}`) #{author.firstName} #{author.familyName}
          if author.lifespan
            span (#{author.lifespan})
          else
            span (Lifespan data unavailable)
  else
    p There are no authors.
